.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(
    91.4deg,
    rgb(235, 104, 104) -6%,
    rgb(235, 142, 65) 12.4%,
    rgb(233, 221, 101) 31.7%,
    rgb(180, 231, 111) 51.4%,
    rgb(92, 204, 230) 70.1%,
    rgb(101, 113, 233) 89.4%,
    rgb(170, 95, 248) 107.7%
  );
  opacity: 18px;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
