.Footer {
  font-size: 15px;
  text-align: center;
  clear: both;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Footer a {
  text-decoration: none;
  color: #000;
}

.my-name {
  color: blue;
}
.github {
  color: blue;
}
