.Forecast {
  border: solid 3px rgb(21, 6, 8);
  margin-bottom: 20px;
}

.weekly-forecast {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.weekly-forecast > .row {
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
}

.weekDays {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px 15px;
  display: flex;
  width: auto;
  gap: 10px;
}

.weekly-forecast-date {
  font-size: 16px;
  color: black;
}
.weekly-forecast-temp {
  font-size: 14px;
}
.weekly-forecast .weekly-high {
  color: black;
  opacity: none;
}
.weekly-forecast .weekly-low {
  color: black;
}
