.midSection {
  text-align: center;
}

.otherElements {
  margin-bottom: 50px;

  border-radius: 10px;
}
.weatherElements {
  gap: 2px;
  border-radius: 8px;
  overflow: hidden;
}
.weather-details {
  color: #000;
  width: auto;
  flex: 1;
  padding: 10px 0;
  background-color: whitesmoke;
}
.emoji {
  font-size: 40px;
}
