.midSection {
  border-bottom: 3px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.summary {
  text-align: left;
  width: auto;
  padding: 0;
  flex: 1;
  margin-left: 20px;
}
.d-flex {
  justify-content: space-evenly;
}
.weatherElements {
  gap: 1px;
  border-radius: 8px;
  overflow: hidden;
}
.weather-details {
  background-color: black;
  color: white;
  width: auto;
  flex: 1;
  padding: 10px 0;
}
.emoji {
  font-size: 40px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
