.city-search {
  display: flex;
  margin-bottom: 7px;
}

form {
  display: block;
  position: relative;
  margin-left: auto;
}
input[type="text"] {
  background-color: transparent;
  border-radius: 30px;
  height: 40px;
  padding-left: 16px;
  border-width: 0;
  box-shadow: 0 5px 24px rgba(1, 1, 1, 0.1);
  width: 20rem;
  padding-right: 70px;
  outline: none;
}
input[type="submit"] {
  border-radius: 30px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  border-width: 0;
  background-color: black;
  color: white;
  font-size: 16px;
  position: absolute;
  right: 0px;
  top: 0;
}
input[type="submit"]:hover {
  background-color: rgba(252, 225, 164, 0.6);
  color: black;
}
