header {
  margin-top: 15px;
  border-bottom: 1px solid lightgray;
}
ul {
  list-style: none;
}
img {
  height: 80px;
}
.newSection {
  margin-bottom: 25px;
  width: 100%;
}
.weather {
  padding-left: 40px;
  padding-right: 40px;
}
.mainCity {
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
}

.mainSecondary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 60px;
}

.date-heading {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
}

.temp-display {
  font-size: 120px;
  font-weight: 500;
  clear: both;
}
.temp-display_wrapper {
  display: flex;
}
.description-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 50px;
  margin-left: -50px;
  gap: 10px;
}
.description {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.unit-parent {
  display: flex;
  justify-content: flex-end;
}
.unit {
  border: solid 2px black;
  border-radius: 20px;
  padding: 2px 10px;

  margin-top: 2px;
  font-size: 15px;
  float: right;
}
.units {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 25px;
  margin-top: 10px;
  text-transform: uppercase;
}
.celsius {
  background-color: black;
  border: solid 2px black;
  border-radius: 100%;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
}
.fahrenheit {
  background-color: white;
  border: solid 2px white;
  border-radius: 100%;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
}

.otherCities {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
  justify-content: space-evenly;
}

.cityText {
  margin: auto;
  font-size: 13px;
  font-weight: 700;
}
.cityText-temp {
  font-size: 12px;
  font-weight: 500;
}
.forecastTitle {
  margin-top: 10px;
  text-align: justify;
}
@media (max-width: 600px) {
  .othercitites {
    font-size: 40px;
    max-width: 50%;
    overflow: hidden;
  }
}
