header {
  margin-top: 15px;
  border-bottom: 1px solid #00000030;
}
h1 {
  font-size: 40px;
}

ul {
  list-style: none;
}
img {
  height: 80px;
}
.newSection {
  margin-bottom: 25px;
  width: 100%;
}
.weather {
  padding-left: 40px;
  padding-right: 40px;
}
.mainCity {
  text-align: left;
  padding-left: 15px;
}

.mainSecondary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 60px;
}

.date-heading {
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  max-width: max-content;
}

.temp-display {
  font-size: 120px;
  font-weight: 500;
  clear: both;
}
.temp-display_wrapper {
  display: flex;
}
.description-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 50px;
  margin-left: -50px;
  gap: 10px;
}
.description {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.unit-parent {
  display: flex;
  justify-content: flex-end;
}
.unit {
  border: solid 2px black;
  border-radius: 20px;
  padding: 4px 10px;
  margin-top: 2px;
  font-size: 15px;
  float: right;
}
.units {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 25px;
  margin-top: 10px;
  text-transform: uppercase;
}
.celsius {
  background-color: black;
  border: solid 2px black;
  border-radius: 100%;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}
.fahrenheit {
  border: solid 2px black;
  border-radius: 100%;
  color: black;
  padding-left: 4px;
  padding-right: 4px;
}

.otherCities {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #00000030;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 15px;
  margin-bottom: 10px;
}
.cities {
  border: 1px solid black;
  min-width: 200px;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.cities > img {
  height: 60px;
}
.scroll {
  font-size: 12px;
  color: gray;
}

.cityText {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.cityText-temp {
  font-size: 12px;
  font-weight: 500;
}
.forecastTitle {
  margin-top: 10px;
  text-align: justify;
}
